<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>spm yuan</title>
    <style>
        body {
            font-family: 'Helvetica Neue', Arial, 'Xin Gothic', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft YaHei', sans-serif;
        }

        .family {
            padding: 10px 20px;
            border: 1px solid #dadada;
            border-radius: 4px;
            background-color: #f9f9f7;
            width: 800px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .family h2 {
            line-height: 50px;
            font-size: 40px;
            font-weight: bolder;
            margin: 0 0 10px 0;
        }

        .family ul {
            list-style-type: none;
            padding-left: 0;
            margin: 0;
        }

        .family li {
            margin: 10px 5px;
            border-bottom: 1px dashed #ddd;
        }

        .family li:last-child {
            border-bottom: none;
        }

        .family h3 {
            margin: 0;
            margin-bottom: 10px;
        }

        .family a {
            color: #69a7e6;
        }

        .family blockquote {
            padding-left: 5px;
            margin-left: 5px;
            color: #333;
        }

        .family table {
            margin: 20px 0;
            border-collapse: collapse;
            border-spacing: 0;
            width: 500px;
        }

        .family tr:nth-child(even) {
            background: white;
        }

        .family td, .family th {
            padding: 4px 8px 4px 10px;
            border: 1px solid #dadada;
        }
    </style>
</head>
<body>
<% families.forEach(function (family) { %>
    <div class="family">
        <h2><%= family.name %></h2>
        <ul>
        <% family.projects.forEach(function (project) { %>
            <li>
                <h3><a href="javascript:void(0);" class="pkgName"><%= family.name %>/<%= project.name %></a></h3>
                <blockquote><%= project.description %></blockquote>
                <div class="detail" style="display:none"></div>
            </li>
        <% }) %>
        </ul>
    </div>
<% }) %>
<script src="jquery-1.10.1.min.js"></script>
<script src="handlebars.js"></script>
<script type="text/template" id="itemTemp">
    <table class="meta">
        <col width="150px">
        <tr>
            <th>Versions:</th>
            <td>{{versions packages}}</td>
        </tr>
        <tr>
            <th>Updated:</th>
            <td>{{updated_at}}</td>
        </tr>
        <tr>
            <th>Homepage:</th>
            <td><a href="{{homepage}}">{{homepage}}</a></td>
        </tr>
        <tr>
            <th>Repository:</th>
            <td><a href="{{repository.url}}">{{repository.url}}</a></td>
        </tr>
    </table>
</script>
<script>
    var itemTemplate = Handlebars.compile($("#itemTemp").html());

    $(document).on('click', 'a.pkgName', function () {
        var wrapper = $(this).closest('h3').nextAll('.detail');
        wrapper.toggle();
        if (wrapper.is(':visible')) {
            $.getJSON('/repository/' + this.innerHTML, function (data) {
                wrapper.html(itemTemplate(data))
            });
        }
    });

    Handlebars.registerHelper('versions', function (obj) {
        var versions = [];
        for (var key in obj) {
            if (obj.hasOwnProperty(key)) {
                versions.push(key);
            }
        }
        return versions.join(' , ');
    });
</script>
</body>
</html>